*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-image: url(images/coast.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drums {
    display: flex;
    margin: auto;
}

.hit {
    width: 100px;
    height: 100px;
    background-color: black;
    border: 2px solid #55524b;
    margin: 25px;
    border-radius: 50%;
}

.hit.active {
    background-color: #55524b;
}

.keys {
    display: flex;
    margin: auto;
    text-align: center;
}

.key {
    color: black;
    margin: 0px 25px;
    width: 100px;
    height: 50px;
    font-size: 1.2rem;
}

.drums-and-keys {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}